<div class="customer-filter-wrapper">
  <h2 class="customer-filter-title">Customer Filter</h2>
  <div class="discard-filters-wrapper">
    <button mat-button (click)="discardEvents()">Discard filters</button>
  </div>

  <div class="filter-panel-wrapper">
    @for(g of eventGroups; track $index) {
    <div class="event-group">
      <div class="event-wrapper">
        <app-event-component
          [events]="events"
          [eventGroups]="eventGroups"
          [selectedEvent]="g"
          [selectedEventIndex]="$index"
        ></app-event-component>
      </div>

      @if(g.event) {
      <div class="filters">
        @for(p of g.properties; track p.id) {
        <div class="filter-row">
          <mat-form-field>
            <mat-label>Property</mat-label>
            <mat-select [value]="p.property" (selectionChange)="p.property = $event.value">
              @for(p of getPropertiesForEvent(g.event!) ; track p.name) {
              <mat-option [value]="p.name">
                {{ p.name }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Operator</mat-label>
            <mat-select [value]="p.operator" (selectionChange)="p.operator = $event.value">
              @for(o of getOperatorsForProperty(g.event!, p.property!) ; track o) {
              <mat-option [value]="o">
                {{ o }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <div class="property-values-wrapper">
            <mat-form-field>
              <mat-label>Value</mat-label>
              <input matInput [(ngModel)]="p.value" />
            </mat-form-field>
            @if(p.operator === 'in between') {
            <mat-form-field>
              <mat-label>Value - in between</mat-label>
              <input matInput [(ngModel)]="p.value2" />
            </mat-form-field>
            }
          </div>

          <button mat-icon-button (click)="removeFilter(g, p.id)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        }
        <button mat-stroked-button (click)="addFilter(g)">+Add an event attribute</button>
      </div>
      }
    </div>
    <mat-divider></mat-divider>
    }

    <div class="add-event-wrapper">
      <button mat-flat-button color="primary" (click)="addEventGroup()">+ ADD FUNNEL STEP</button>
    </div>
  </div>

  <div class="apply-filter-wrapper">
    <button mat-flat-button color="accent" (click)="applyFilters()">Apply filters</button>
  </div>
</div>
