.panel {
  padding: 16px;
  max-width: 900px;
  margin: 0 auto;
}

.event-group {
  padding: 10px;
  margin: 8px;

  h3 {
    display: flex;
    justify-content: space-between;
  }
}

.filter-panel-wrapper {
  max-width: 900px;
  margin: 16px auto;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background: #ffffff;

  mat-divider {
    margin: 12px;
  }
}

.add-event-wrapper {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}

.apply-filter-wrapper {
  max-width: 900px;
  margin: 16px auto;
}

.customer-filter-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background: #f4f4f4;
}

.customer-filter-title {
  margin: 16px;
}

.discard-filters-wrapper {
  max-width: 900px;
  margin: 16px auto;
  display: flex;
  justify-content: flex-end;
  button {
    color: #f44336;
  }
}

.filter-row {
  display: flex;
  gap: 12px;
}

.property-values-wrapper {
  display: flex;
  gap: 12px;
}
