<div class="customer-filter-wrapper">
  <h2 class="customer-filter-title">Customer Filter</h2>
  <div class="discard-filters-wrapper">
    <button mat-button (click)="discardAllFunnelSteps()">Discard filters</button>
  </div>

  <div class="filter-panel-wrapper">
    @for(event of funnelSteps(); track $index) {
    <div class="event-group">
      <div class="event-wrapper">
        <app-event-component
          [fetchedEvents]="fetchedEvents"
          [funnelSteps]="funnelSteps"
          [selectedEvent]="event"
          [selectedEventIndex]="$index"
        ></app-event-component>
      </div>

      @if(event.name) {
      <div class="filters">
        @for(attribute of event.eventAttributes; track attribute.id) {
        <div class="filter-row">
          <!-- <app-property-component> </app-property-component> -->
          <mat-form-field>
            <mat-label>Select an attribute</mat-label>
            <mat-select
              [value]="attribute.name"
              (selectionChange)="onAttributeNameChange(event, attribute, $event.value)"
            >
              @for(property of getPropertiesOfEvent(event.name!) ; track property.name) {
              <mat-option [value]="property.name">
                {{ property.name }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Operator</mat-label>
            <mat-select
              [value]="attribute.operator"
              (selectionChange)="attribute.operator = $event.value"
            >
              @for(operator of getOperatorsOfProperty(event.name!, attribute.name!) ; track
              operator) {
              <mat-option [value]="operator">
                {{ operator }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <div class="property-values-wrapper">
            <mat-form-field>
              <mat-label>Value</mat-label>
              <input matInput [(ngModel)]="attribute.value" />
            </mat-form-field>
            @if(attribute.operator === 'in between') {
            <mat-form-field>
              <mat-label>Value - in between</mat-label>
              <input matInput [(ngModel)]="attribute.valueFrom" />
            </mat-form-field>
            }
          </div>

          <button
            class="event-attribute-close-button"
            mat-icon-button
            (click)="removeEventAttribute(event, attribute.id)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
        }
        <button mat-stroked-button (click)="addEventAttribute(event)">
          +Add an event attribute
        </button>
      </div>
      }
    </div>
    <mat-divider></mat-divider>
    }

    <div class="add-event-wrapper">
      <button mat-flat-button color="primary" (click)="addFunnelStep()">+ ADD FUNNEL STEP</button>
    </div>
  </div>

  <div class="apply-filter-wrapper">
    <button mat-flat-button color="accent" (click)="applyFilters()">Apply filters</button>
  </div>
</div>
