<div class="customer-filter-wrapper">
  <h2 class="customer-filter-title">Customer Filter</h2>
  <div class="discard-filters-wrapper">
    <button mat-button (click)="discardAllFunnelSteps()">Discard filters</button>
  </div>

  <div class="filter-panel-wrapper">
    @for(step of funnelSteps(); track $index) {
    <div class="event-group">
      <div class="event-wrapper">
        <app-event-component
          [fetchedEvents]="fetchedEvents"
          [funnelSteps]="funnelSteps"
          [selectedFunnelStep]="step"
          [selectedEventIndex]="$index"
        ></app-event-component>
      </div>

      @if(step.name) {
      <div class="filters">
        @for(attribute of step.eventAttributes; track attribute.id) {
        <div class="filter-row">
          <app-property-component
            [selectedAttribute]="attribute"
            [selectedAttributeProperties]="getPropertiesOfEvent(step.name!)"
          ></app-property-component>

          <mat-form-field>
            <mat-label>Operator</mat-label>
            <mat-select
              [value]="attribute.operator"
              (selectionChange)="attribute.operator = $event.value"
            >
              @for(operator of getOperatorsOfProperty(step.name!, attribute.name!) ; track operator)
              {
              <mat-option [value]="operator">
                {{ operator }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <div class="property-values-wrapper">
            <mat-form-field>
              <input matInput [(ngModel)]="attribute.value" />
            </mat-form-field>
            @if(attribute.operator === 'in between') {
            <mat-form-field>
              <input matInput [(ngModel)]="attribute.valueFrom" />
            </mat-form-field>
            }
          </div>

          <button
            class="event-attribute-close-button"
            mat-icon-button
            (click)="removeEventAttribute(step, attribute.id)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
        }
        <button mat-stroked-button (click)="addEventAttribute(step)">
          +Add an event attribute
        </button>
      </div>
      }
    </div>
    <mat-divider></mat-divider>
    }

    <div class="add-event-wrapper">
      <button mat-flat-button color="primary" (click)="addFunnelStep()">+ ADD FUNNEL STEP</button>
    </div>
  </div>

  <div class="apply-filter-wrapper">
    <button mat-flat-button color="accent" (click)="applyFilters()">Apply filters</button>
  </div>
</div>
