// # COLORS #
// buttons
$add-step-blue: #66d0fb;
$apply-yellow: #ffcf00;
$discard-red: #d75972;

//fonts
$brown: #301d00;
$title-color: #2d2b39;
$input-color: #191824;

// icon color, text
$light-purple: #66698d;

// background
$very-light-purple: #f7f6fd;

//borders
$outside-border: #f4f4f9;
$inside-border: #eeeef5;
